<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body>
    <header>
        <%- include('./header'); %>
      </header>

    <div class="">
        <div class="">
            <div class="">
                <div class="text-orange p-8">
                    <h3 class='lg:text-4xl text-2xl font-extrabold text-center pt-2 uppercase' >MODIFICATION D'UN LIEU</h3>
                </div>
                <div class="">
                    <% if (typeof errors !== "undefined" && errors.length > 0) { %>
                        <div id="erreur" class="">
                            <ul class="">
                                <% errors.forEach((error) => { %>
                                    <li><%= error %></li>
                                <% }) %>
                            </ul>
                        </div>
                    <% } %>
                    <form class="block" id="edit-car-form" method="post" action="/venue/edit/<%= venue.id %>">
                        <div class="mt-2">
                            <label htmlFor="name" class="block text-sm font-medium leading-6 text-black">
                              Nom
                            </label>
                            <div class="mt-2">
                              <input
                                id="name"
                                name="name"
                                type="name"
                                autoComplete="name"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-black shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange sm:text-sm sm:leading-6"
                                <%= typeof venue !== "undefined" && ` value=${venue.name}` %>
                                >
                            </div>
                          </div>
            
                          <div class="mt-2">
                            <div class="flex items-center justify-between">
                              <label htmlFor="category" class="block text-sm font-medium leading-6 text-gray-900">
                                Catégorie
                              </label>
                            </div>
                            <div class="mt-2">
                              <input
                                id="category"
                                name="category"
                                type="category"
                                autoComplete="category"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange sm:text-sm sm:leading-6"
                                <%= typeof venue !== "undefined" && ` value=${venue.category}` %>
                                >
                            </div>
                          </div>
            
                          <div class="mt-2">
                            <label htmlFor="lat" class="block text-sm font-medium leading-6 text-black">
                              Latitude
                            </label>
                            <div class="mt-2">
                              <input
                                id="lat"
                                name="lat"
                                type="lat"
                                autoComplete="lat"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-black shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange sm:text-sm sm:leading-6"
                                <%= typeof venue !== "undefined" && ` value=${venue.lat}` %>
                                >
                            </div>
                          </div>
            
                          <div class="mt-2">
                            <label htmlFor="lng" class="block text-sm font-medium leading-6 text-black">
                              Longitude
                            </label>
                            <div class="mt-2">
                              <input
                                id="lng"
                                name="lng"
                                type="lng"
                                autoComplete="lng"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-black shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange sm:text-sm sm:leading-6"
                                <%= typeof venue !== "undefined" && ` value=${venue.lng}` %>
                                >
                            </div>
                          </div>

                          <div class="mt-2">
                              <button
                                  type="submit"
                                  class="flex w-full justify-center rounded-md bg-orange px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-yellow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange"
                              >
                                  Modifier
                              </button>
                          </div>
                          <div class="mt-2">
                            <a href="/venue" id="retour" class="mb-2 flex w-full justify-center rounded-md bg-orange px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-yellow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange">Retour</a>
                          </div>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>