<!DOCTYPE html>
<html>
<head>
    <%- include('./head'); %>
</head>   
<body>

    <header>
        <%- include('./header'); %>
      </header>
            <div class='text-orange p-8'>
                <h1 class='lg:text-6xl text-4xl font-extrabold text-center pt-2 uppercase '>programmation</h1>
            </div>
            <div class='grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1'>
                <div class='m-10 p-5 flex flex-col border border-solid border-black rounded-md'>
                    <h2 class='text-center text-xl font-bold leading-9 tracking-tight text-black'>Ajouter une programmation</h2>
                    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                        <form class="space-y-6" action="/event/new" method="POST">
                            <div>
                                <label htmlFor="image" class="block text-sm font-medium leading-6 text-black">
                                  Image
                                </label>
                                <div class="mt-2">
                                  <input
                                    id="image"
                                    name="image"
                                    type="file"
                                    autoComplete="image"
                                    required
                                    accept='image/png, image/jpg'
                                    class="block w-full rounded-md border-0 py-1.5 text-black shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange sm:text-sm sm:leading-6"
                                  />
                                </div>
                              </div>
                
                              <div>
                                <label htmlFor="title" class="block text-sm font-medium leading-6 text-black">
                                  Titre
                                </label>
                                <div class="mt-2">
                                  <input
                                    id="title"
                                    name="title"
                                    type="title"
                                    autoComplete="title"
                                    required
                                    class="block w-full rounded-md border-0 py-1.5 text-black shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange sm:text-sm sm:leading-6"
                                  />
                                </div>
                              </div>
                
                              <div>
                                <label htmlFor="location" class="block text-sm font-medium leading-6 text-black">
                                  Lieu
                                </label>
                                <div class="mt-2">
                                  <input
                                    id="location"
                                    name="location"
                                    type="location"
                                    autoComplete="location"
                                    required
                                    class="block w-full rounded-md border-0 py-1.5 text-black shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange sm:text-sm sm:leading-6"
                                  />
                                </div>
                              </div>

                            <div>
                                <div class="flex items-center justify-between">
                                    <label htmlFor="start_date" class="block text-sm font-medium leading-6 text-gray-900">
                                        Date de début
                                    </label>
                                </div>
                                <div class="mt-2">
                                    <input
                                        id="start_date"
                                        name="start_date"
                                        type="start_date"
                                        autoComplete="start_date"
                                        required
                                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange sm:text-sm sm:leading-6"
                                    />
                                </div>
                            </div>

                            <div>
                                <button
                                    type="submit"
                                    class="flex w-full justify-center rounded-md bg-orange px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-yellow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange"
                                >
                                    Ajouter
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class='col-span-2 m-10 p-5 border border-solid border-black rounded-md'>
                    <h2 class='text-center text-xl font-bold leading-9 tracking-tight text-black'>Liste des programmations</h2>
                <div class="">
                  <% if (typeof events !== "undefined" && events.length > 0) { %>
                            <div class="grid grid-cols-3 m-4">
                              <% events.forEach((event, index) => { %>
                                <ul id="tr-<%= index %>" class="mx-4 p-2 text-md flex flex-col border border-solid border-black rounded-md">
                                    <li><img src="../images/<%= event.image %>"/></li>
                                    <li><span class="font-medium">Titre :</span> <%= event.title %></li>
                                    <li><span class="font-medium">Lieu :</span> <%= event.location %></li>
                                    <li><span class="font-medium">Date de début :</span> <%= event.start_date %></li>
                                    <li class="mt-2">
                                        <a href="/event/<%= event.id %>" id="a-view-<%= event.id %>" class="mb-2 flex w-full justify-center rounded-md bg-orange px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-yellow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange">Voir</a>
                                        <a href="/event/edit/<%= event.id %>" id="a-edit-<%= event.id %>" class="mb-2 flex w-full justify-center rounded-md bg-orange px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-yellow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange">Modifier</a>
                                        <a href="/event/delete/<%= event.id %>" id="a-delete-<%= event.id %>" class="mb-2 flex w-full justify-center rounded-md bg-orange px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-yellow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange">Supprimer</a>
                                    </li>
                                  </ul>
                            <% }) %>

                            <% } else { %>
                              <div class="">
                                  Vous n'avez pas encore de programmations.
                              </div>
                          <% } %> 
                            </div>
              </div>
            </div>
</body>
</html>
